/*Styles of fonts*/
@import url('https://fonts.googleapis.com/css?family=Courgette|Kalam');
* {
    font-family: 'Courgette', cursive;
}
a:hover,
a{
    text-decoration: none;
    color: 	#000000;
}

    
    h1,h2,h3,h4,h6,th{
    font-family: 'Kalam', cursive;
}

h4{
    display: flex;
    align-items: center;
}

h4::before,
h4::after {
    content: "";
    background-color:#f17e1961;
    height: 0.1em;
    margin: 0.2em;
    flex: 1;
    
}

.orang a:hover,
.orang a,
.orang span {
    color: rgb(0, 0, 0);
    text-shadow: 1.4px 1px 1px #f17e19,-1.4px -1px 1px #f17e19;
    font-size:2.3em;
    z-index: 28;
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
    
}
   
/* End Styles of fonts*/


/*background image*/
#top-title{
  background-image: url('../img/1.png');
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center top;
}
#second{
  background-image: url('../img/2.jpg');
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center top;
}
#piecharts_section{
  background-image: url('../img/3.jpg');
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center top;
}
#fourth{
  background-image: url('../img/4.jpg');
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center top;
}
#Fifth{
  background-image: url('../img/5.jpg');
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center top;
}
#thank_you_section{
  background-image: url('../img/6.jpg');
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center top;
}
#VI{
  background-image: url('../img/7.jpg');
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center top;
}

/* End background image*/

/* overlay */
.overlay {
    background: black;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .50;
}
/*  End overlay */

/* Header & Body Styling */

.nav {
  /* height: 25%; */
  width: 0;
  position: fixed;
  z-index: 9998;
  left: 0;
  top: 0;
  overflow-x: hidden;
  transition: 0.5s;
}

.nav-menu {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

#pp-nav {
  margin-right: auto;
  margin-left: auto;
  background-color:#f17e194a;
}

.pppp{
  border: none;
  max-height: 350px;
}

.over-img {
  background: linear-gradient(
    to left,
    rgba(229, 146, 9, 0.87)
    rgba(229, 146, 9, 0.87)
  );
  text-shadow: 2px 2px 8px #db6904;
  border-radius: 13%;
}

img {
  padding: 4px;
  vertical-align: middle;
  border: 1px solid #ccc;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}

/* removal of scrollbar for better ux  */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* 
Media Queries 
*/

@media (max-width: 575px) {
  .only-small-screens {
    display: block;
    height: 100vh;
    align-content: space-around;
    font-family: "Concert One";
    overflow: hidden;
  }

  .only-big-screens,
  ul, #pagepiling {
    display: none;
  }
}

@media (min-width: 576px) {
  .dc-select-menu {
    border-color: transparent;
    background-color: transparent;
    cursor: default;
    border: none;
  }

  .dc-chart .pie-slice {
    font-size: 0.8em;
  }

  #rotating-item-wrapper {
    position: relative;
    max-width: 900px;
  }

  .rotating-item {
    display: none;
    box-sizing: inherit;
    position: absolute;
    top: 0;
    left: 0;
  }

  .only-small-screens {
    display: none;
  }
  .only-big-screens {
    display: block;
  }
  .text-right {
    padding: 10px 60px 10px 80px;
  }
  
  /*Barchart*/
.y-axis-label{
fill: #fff;
font-size: 20px;

}
.tick text {
  fill: #fff;
}
.barLabel{
  fill: #fff;
}

  #barchart > svg > g > g.axis.x text {
    transform: rotate(20deg) translateY(10px) translateX(10px);
  }
  /* 
  Modal (background) 
  */
  .modal {
    display: none;
    position: fixed;
    z-index: 9998;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: initial;
    -webkit-animation-name: fadeModal;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeModal;
    animation-duration: 0.4s;
  }

  /* 
  Modal Content 
  */
  .modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fff;
    font-size: 0.9em;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    -webkit-animation-name: slideModal;
    -webkit-animation-duration: 0.4s;
    animation-name: slideModal;
    animation-duration: 0.4s;
  }
  .modal-content a {
    color: rgb(23, 162, 184);
  }
  .modal-content a:hover {
    background-color: #ffc107;
    color: white;
  }

  /* 
  The Close Button 
  */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    z-index: 9999;
  }
  .modal-header,
  .modal-footer {
    color: white;
    display: block;
    text-align: right;
  }

  /* 
  Animation 
  */
  
  @-webkit-keyframes slideModal {
    from {
      bottom: -300px;
      opacity: 0;
    }
  
    to {
      bottom: 0;
      opacity: 1;
    }
  }

  @keyframes slideModal {
    from {
      bottom: -300px;
      opacity: 0;
    }
    to {
      bottom: 0;
      opacity: 1;
    }
  }

  @-webkit-keyframes fadeModal {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeModal {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  /* end of modal */
  /*
  Table
  */

  .dc-table-head {
    margin-top: 2px;
    font-size: 1.3em;
    font-weight: 400;
  }
  table {
    border-collapse: collapse;
    margin: 10px;
  }

  table thead tr,
  table tbody tr,
  table, .nav {
    line-height: 2;
    text-align: center;
    background-color: #ded9d966;
    box-shadow: 0 3px 1px -2px rgba(114, 194, 218, 0.28),0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }

  table thead tr {
    background-color: rgb(255, 159, 0, 0.48);
    line-height: 2;
    color: white;
    text-transform: uppercase;
  }

  td {
    padding: 0;
    margin: 10px;
    display: table-cell;
  }

  td.dc-table-column._0 {
    font-weight: 700;
    text-transform: uppercase;
    background-color: rgba(255, 159, 0, 0.48);
  }
  table tbody tr:hover {
    background-color: #cfedfd;
    cursor: context-menu;
  }

  #datatable > thead > tr > th:nth-child(4),
  .dc-table-column {
    display: inline-block;
  }

  #datatable > thead > tr > th:nth-child(3),
  #datatable > thead > tr > th:nth-child(2),
  #datatable > thead > tr > th:nth-child(1),
  #datatable > thead > tr > th:nth-child(5) {
    display: none;
  }

  /*
  Piechart
  */
  svg {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .svg-container {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    height: 100%;
  }

  /*
  Quotes
  */

  #whisky_quotes {
    padding: 25px;
    transform: skew(10deg);
    letter-spacing: 0.1em;
    background-color: #633e21c7;
  }

  #top-title {
    margin: 0;
    border-radius: 0;
    color: #fff;
  }
  #top_quote {
    transform: skew(-20deg);
    letter-spacing: 0.2em;
    font-size: 3em;
    text-shadow: 1px 1px 1px #ffc107;
  }
  #project_id {
    color: rgb(255, 193, 7);
  }

  .p_sticky,
  .p-sticky > * {
    position: fixed;
    top: 2vh;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    background: transparent;
    margin-left: 10px;
    z-index: 8888;
  }

  #resetBtn {
    width: 90px;
    height: 90px;
    white-space: normal;
  }

  .bottom {
    margin-top:30vh;
  }


@media (min-width: 992px) {
  .text-right {
    padding: 15px 50px 15px 15px;
  }

  #datatable > thead > tr > th:nth-child(4),
  .dc-table-column,
  #datatable > thead > tr > th:nth-child(3),
  #datatable > thead > tr > th:nth-child(2),
  #datatable > thead > tr > th:nth-child(1),
  #datatable > thead > tr > th:nth-child(5) {
    display: table-cell;
  }
  #top_quote {
    font-size: 5.5em;
  }

  td {
    padding: 20px;
  }

 
}